<div class="container-fluid" id="nosotros" data-bs-spy="scroll">
    <div class="row justify-content-center">

        <div class="col-3">
            <a href="http://adrianlatorre.madesarrolloweb.com/" target="_blank" class="fot"><img src="../../../assets/adr12.jpg" class="img-fluid  img1" alt="Adrian">
                <p pipe class="text-center">Adrián</p>
            </a>
        </div>

        <div class="col-1"></div>



        <div class="col-3 zoom">
            <a href="http://melinaberetta.madesarrolloweb.com/" target="_blank" class="fot"><img src="../../../assets/MEL1.jpg" class="img-fluid img2" alt="Melina">
                <p class="text-center">Melina</p>
            </a>
        </div>

    </div>

    <div class="row  justify-content-center">
        <div class="col-10">
            <p class="nosotros ">Nuestra misión es que la creación o renovación de tu presencia digital sea fácil y satisfactoria, acompañándote, plasmando tus ideas y el espíritu de tu negocio. Es importante para nosotros el diseño de una página que refleje tus virtudes
                y estas sean conocidas por el mundo. El paso inicial para potenciar, todo lo que sos, y todo lo que querés lograr. </div>
    </div>
</div>