<!-- Modal gallery-->
<section class="">


    <div class="container-fluid" id="servicio">

        <div class="row">

            <!-- imagen 1 -->
            <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">

                <div class="bg-image hover-overlay ripple shadow-1-strong rounded-6 contenedor" data-ripple-color="light">

                    <img src="../../../assets/notechipro3.png" class="img-fluid note notea img" alt="Hacemos el camino">
                    <div class="texto-encima"></div>
                    <div class="centrado a">Hacemos el camino</div>
                    <a href="#!" data-mdb-toggle="modal" data-mdb-target="#exampleModal1">
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);">

                        </div>
                    </a>

                </div>

            </div>

            <!-- imagen 2-->
            <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
                <div class="bg-image hover-overlay ripple shadow-1-strong rounded contenedor" data-ripple-color="light">
                    <img src="../../../assets/notechipro2.png" class="img-fluid note img" alt="Diseño adaptable" />
                    <div class="texto-encima"></div>
                    <div class="centrado c">Diseño adaptable</div>
                    <a href="#!" data-mdb-toggle="modal" data-mdb-target="#exampleModal2">
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);">

                        </div>
                    </a>
                </div>
            </div>


            <!-- imagen 3 -->
            <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
                <div class="bg-image hover-overlay ripple shadow-1-strong rounded contenedor" data-ripple-color="light">
                    <img src="../../../assets/notechipro.png" class="img-fluid note img" alt="Sumamos tus ideas" />
                    <div class="texto-encima"></div>
                    <div class="centrado c">Sumamos tus ideas</div>
                    <a href="#!" data-mdb-toggle="modal" data-mdb-target="#exampleModal3">
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>