<header>
    <app-header>
    </app-header>
</header>
<nav>
    <app-whatsapp></app-whatsapp>
</nav>
<article>
    <section>
        <app-banner></app-banner>
    </section>
    <section>
        <app-proyectos></app-proyectos>
    </section>
    <section>
        <app-destacado></app-destacado>
    </section>
    <section>
        <app-acercanosotros></app-acercanosotros>
    </section>
    <section>
        <app-formcontacto></app-formcontacto>
    </section>
</article>
<footer>
    <app-footer></app-footer>
</footer>