<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-dark sticky-top header">
        <a class="navbar-brand" href="#"><img src="../../../assets/logo_transparentazul.png" class="img-fluid logo" alt="Logo M&A"></a>
        <button class="navbar-toggler btn-primary" type="button" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" id="dropdownMenuButton1" data-bs-toggle="dropdown">
      <span class="navbar-toggler-icon"></span>
      
    </button>
        <ul class="dropdown-menu dropdown-menu-end drop " aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="#inicio">Inicio</a></li>
            <li><a class="dropdown-item" href="#servicio">Servicios</a></li>
            <li><a class="dropdown-item" href="#nosotros">Nosotros</a></li>
            <li><a class="dropdown-item" href="#contacto">Contactos</a></li>

        </ul>





        <div class="collapse navbar-collapse navbar-rigth" id="navbarNav">
            <ul class="navbar-nav menu">
                <li class="nav-item active item">
                    <a class="nav-link " href="#inicio">Inicio <span class="sr-only"></span></a>
                </li>
                <li class="nav-item item">
                    <a class="nav-link " href="#servicio">Servicios</a>
                </li>
                <li class=" nav-item item ">
                    <a class="nav-link " href="#nosotros">Nosotros</a>
                </li>
                <li class="nav-item item ">
                    <a class="nav-link " href="#contacto">Contacto</a>
                </li>
            </ul>
        </div>
    </nav>
</div>