<div class="container-fluid">

    <div class="row justify-content-center">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3 col-xxl-3 mar img-fluid">
            <div class="bordec izq b1 ">
                <img src="../../../assets/destacado1.png" class="rounded mx-auto d-block foto img-fluid" alt="SEO">

                <h4 class="text-center">SEO</h4>
                <p>Planificamos y organizamos una estrategia sólida para un rápido posicionamiento en las búsquedas de Google.</p>

            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3 col-xxl-3 mar img-fluid">
            <div class="bordec izq b2 img-fluid">

                <img src="../../../assets/destacado2.png" class="rounded mx-auto d-block foto img-fluid" alt="Administración">

                <h4 class="text-center">ADMINISTRACIÓN</h4>
                <p>Una vez entregado el producto terminado, ofrecemos el servicio de seguimiento y actualización del mismo.</p>

            </div>
        </div>
        <div class="col-xs-12  col-sm-6 col-md-6 col-lg-3 col-xl-3 col-xxl-3 mar img-fluid">
            <div class="bordec izq b3 img-fluid">
                <img src="../../../assets/destacado3.png" class="rounded mx-auto d-block foto candado img-fluid" alt="SSL">

                <h4 class="text-center">SSL</h4>
                <p>Nos aseguramos que la página tenga su certificado SSL, lo que la proteje y la mantiene segura.</p>


            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6  col-lg-3 col-xl-3 col-xxl-3 img-fluid mar">
            <div class="bordec izq b4 img-fluid">
                <img src="../../../assets/destacado4.png" class="rounded mx-auto d-block foto img-fluid" alt="Exclusividad">

                <h4 class="text-justify">EXCLUSIVIDAD</h4>
                <p>Nuestro servicio destaca por su exclusividad, ya que cada sección de la página está creada para tu negocio o perfil profesional.</p>

            </div>
        </div>
    </div>
</div>